Jinja2==2.7.3
MarkupSafe==0.23
PyTrie==0.2
PyYAML==3.11
Pygments==2.0.2
Twisted==15.0.0
autobahn==0.10.1
cffi==0.8.6
chan==0.3.1
characteristic==14.3.0
crossbar==0.10.2
cryptography==0.8
enum34==1.0.4
greenlet==0.4.5
mistune==0.5.1
msgpack-python==0.4.6
netaddr==0.7.13
psutil==2.2.1
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
readline==6.2.4.1
service-identity==14.0.0
setproctitle==1.1.8
shutilwhich==1.0.1
six==1.9.0
wsgiref==0.1.2
zope.interface==4.1.2
